<!DOCTYPE html>
<html>
    <head>
        <title>Totally secure webstie :)))</title>
    </head>

    <body>
        <h1>Online notes app</h1>
        <br>
        <hr>

        <h2>Your notes:</h2>
        <ul>
        {% for note in notes %}
            {{note|safe}}
        {% endfor %}
        </ul>
        <br>
        <hr>

        <h2>Add a note:</h2>
        <form action="/addnote" method="get">
            <label for="note">Note text:</label><br>
            <input id="note" name="note" type="text" maxlength=200><br>
            <label for="colour">And pick a colour:<label><br>
            <input id="colour" name="colour" type="color"><br>
            <input type="submit" value="Add my note!"><br>
        </form>
        <br>
        <hr>

        <h2>Remove a note:</h2>
        <form action="/deletenote" method="get">
            <label for="note">Note text contains:</label><br>
            <input id="note" name="note" type="text" maxlength=200><br>
            <input type="submit" value="Delete the note!"><br>
        </form>
        <br>
        <hr>

        <a href="/logout/"><button>Log out</button></a>
    </body>
</html>