<!DOCTYPE html>
<html>
    <head>
        <title>Totally secure webstie :)))</title>
    </head>

    <body>
        <h1>Free fork knife w-bucks</h1>
        <p>Please enter credit card details below:</p>
        <form>
            <label for="cardno">Mommys credit card number:</label><br>
            <input id="cardno" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx"><br>
            <label for="expdate">The cool date right below it...</label><br>
            <input id="expdate" type="month"><br>
            <label for="cvv">...and the three epic numbers on the back!</label><br>
            <input id="cvv" type="tel" inputmode="numeric" pattern="[0-9\s]{3,3}" autocomplete="cc-cvv" maxlength="3" placeholder="000"><br>
            <input type="submit" value="GO! FREE BUXX!"><br>
        </form>
    </body>
</html>